@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');

button {
    transition-duration: 0.4s;
    color: whitesmoke;
}
  
button:hover {
    background-color: #fa5f5f;
  }

.round-button {
    display: inline-block;
    border-radius: 50%;
    background-color: #8e0000;
    width: 60px;
    height: 60px;    
    transform: rotate(12deg);
    margin-top: 15px;
    font-weight: bold;
    transition-duration: 0.2s;
}

.round-button:hover {
    width: 65px;
    height: 65px;
    transform: rotate(15deg);
}

.session-button {
    background-color: #8e0000;
    margin: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

.session-button:hover {
    width: 205px;
    height: 35px;
}

.news-button {
    background-color: #8e0000;
    margin: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    height: 30px;
    color: white;
    margin-left: 150px;
}

.news-button:hover {
    width: 205px;
    height: 35px;
}

.add-button {
    background-color: #8e0000;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* transition-duration: 0.4s; */
    border-radius: 4px;
    margin: 50px;
  }
  
.presence-button, .group-button {
    margin: 5px;
    background-color: #8e0000;
}

/*tablet*/
@media screen and (min-width: 768px) {

    .round-button {
        margin-right: 0px;
    }
    .news-button {
        margin-left: 350px;
    }
}

/*laptop*/
@media screen and (min-width: 992px) {

    .news-button {
        margin-left: 600px;
    }

}